{% extends 'base.html' %}
{% block content %}

<!--===============================
=            Hero Area            =
================================-->

<section class="hero-area bg-1 text-center overly">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Header Contetnt -->
				<div class="content-block">
					<h1>Book a Cottage Near Your favorite holiday spot </h1>
					<p>Join the millions who choose their AirAnB deals from our portal <br> everyday around the world</p>
					<div class="short-popular-category-list text-center">
						<h2>Popular Category</h2>
						<ul class="list-inline">
							<li class="list-inline-item">
								<a href="category.html"><i class="fa fa-bed"></i> Hotel</a></li>
							<li class="list-inline-item">
								<a href="category.html"><i class="fa fa-grav"></i> Fitness</a>
							</li>
							<li class="list-inline-item">
								<a href="category.html"><i class="fa fa-car"></i> Cars</a>
							</li>
							<li class="list-inline-item">
								<a href="category.html"><i class="fa fa-cutlery"></i> Restaurants</a>
							</li>
							<li class="list-inline-item">
								<a href="category.html"><i class="fa fa-coffee"></i> Cafe</a>
							</li>
						</ul>
					</div>
					
				</div>
             
				<!-- Advance Search -->
				<div class="advance-search">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-lg-12 col-md-12 align-content-center">
										<form action="{{url_for('index')}}">
											<div class="form-row">
                                            <div class="form-group col-md-3">
													<select name="property_type" class="w-100 form-control mt-lg-1 mt-md-2">
                                                        <option value="" disabled selected>Choose property type</option>
                                                            {% for list in listings %}
                                                                {% if list.property_type not in new_list %}
                                                                    <option value="{{list.property_type}}">{{list.property_type}}</option>
                                                                    {{ new_list.append(list.property_type) }}
                                                                    {% print(new_list) %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            </select>
												</div>
                                                <div class="form-group col-md-3">
													<select id="listingsAndReviews" class="w-100 form-control mt-lg-1 mt-md-2 property_type">
														 
                                                            <option value="" disabled selected>Choose Country</option>
                                                            {% for list in listings %}
                                                                {% if list.address.country not in new_country %}
                                                                    <option value="{{list.address.country}}">{{list.address.country}}</option>
                                                                    {{ new_list.append(list.address.country) }}
                                                                    {% print(new_country) %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            </select>

												</div>
												
												<div class="form-group col-md-3">
														<select class="w-100 form-control mt-lg-1 mt-md-2">
														   <option value="" disabled selected>Choose Suburb </option>
                                                           {% for list in listings %}
                                                                {% if list.address.suburb not in new_suburb %}
                                                                    <option value="{{list.address.suburb}}">{{list.address.suburb}}</option>
                                                                    {{ new_list.append(list.address.suburb) }}
                                                                    {% print(new_suburb) %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            </select>
												</div>
												<div class="form-group col-md-2 align-self-center">
													<button type="submit" class="btn btn-primary">Search Now</button>
												</div>
											</div>
										</form>
									</div>
								</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>


<!--====================================
=            Call to Action            =
=====================================-->
<br>
<br>
<br>
<section class="call-to-action overly bg-3 section-sm">
	<!-- Container Start -->
	<div class="container">
		<div class="row justify-content-md-center text-center">
			<div class="col-md-8">
				<div class="content-holder">
					<h2>Start today to get more exposure and
					grow your business</h2>
					<ul class="list-inline mt-30">
						<li class="list-inline-item"><a class="btn btn-main" href="ad-listing.html">Add Listing</a></li>
						<li class="list-inline-item"><a class="btn btn-secondary" href="category.html">Browser Listing</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

{% endblock %}